/* @media(min-width:320px){
    .container{
        width: 250%;
    }
}

@media(max-width:960px){
    .container{
        width: 254%;
    }
}

@media(min-width:1000px){
    .container{
        width: 100%;
        
    }
    

} */